streamlit
langchain
python-dotenv
ipykernel
langchain_community
pypdf
torch
torchvision
torchaudio
bs4
fastapi
pymupdf
langchain-text-splitters
langchain-openai
langchain_groq
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langserve
sse_starlette
langchain_core
pandas
numpy
duckdb
openai
numexpr
pytube
unstructured
langchain_chroma
chromadb